@media screen and (max-width: 840px) {
	/*	navbar*/
a.nav-link1.active:hover::before,
a.nav-link1:hover::before {
	font-weight: 800;
	width: 15%;
	left: 0px;
}
	/*	navbar*/
	
	/*	banner*/
	.banner-left {
		height: 30vh;

	}

	.navbar-toggler {
		background: #fff;
	}

	.extra-background {
		padding: 0px;
	}

	/*	banner*/

	/*content*/
	.content {
		position: unset;
		padding: 50px 0px;
	}

	/*content*/

}

@media screen and (max-width: 480px) {

	/*	header*/
	.top-nav-number {
		padding: 0px;
	}

	.header-social {
		display: none;
	}

	/*	header*/

	/*banner*/
	.banner-left {
		height: 40vh;

	}

	/*banner*/

}
